@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');


body {
  margin: 0;
  background-color:#f2f9fc;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}


